.StaffCard {
    display: grid;
    width: 100%;
    height: fit-content;
    background-color: var(--grey-6);
    text-align: left;
    border-radius: 3px;
    color: white;
}

@media (min-width: 768px) {
    .StaffCard {
        grid-template-columns: 30% 70%;
    }

    .StaffCard-photo {
        margin: 1rem;
    }
}

@media (max-width: 768px) {
    .StaffCard {
        grid-template-columns: 100%;
    }

    .StaffCard-photo {
        margin: 1rem auto;
    }
}

.StaffCard-photo {
    border-radius: 3px;
    width: 90%;
    height: 0;
    padding-bottom: 112.5%;
    background-size: cover;
    background-position: center;
}

.StaffCard-text {
    padding: 1rem;
}

.StaffCard-name {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

.StaffCard-link:hover {
    cursor: pointer;
    color: var(--accent);
    transition: 0.15s;
}

.StaffCard-title {
    font-family: 'Montserrat', sans-serif;
}

.StaffCard-bio {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0;
}
